.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-top: 15px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.navigation-menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  max-width: 500px;
  .navigation-item {
    transition: 200ms all ease-in-out;
    &:hover {
      cursor: pointer;
      color: #7a2048;
    }
  }
}
.dropdown-menu,
.dropdown-logo {
  display: none;
}

.footer {
  width: 100%;
  p {
    text-align: center;
  }
}

.hamburger-icon {
  display: none;
  & > * {
    background-color: #fff;
    width: 30px;
    height: 4px;
    margin: 5px 0;
    border-radius: 3px;
  }
}

@media screen and (max-width: 768px) {
  .hamburger-icon {
    display: inline;
  }
  .navigation-menu {
    display: none;
  }
  .dropdown-logo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px 10px 0;
    border-bottom: 2px solid #000;
  }
  .dropdown-menu {
    padding: 0 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #1e2761;
    list-style: none;
    width: 100%;
    .dropdown-item {
      transition: 200ms all ease-in-out;
      text-align: end;
      margin: 10px 0;
      &:hover {
        cursor: pointer;
        color: #7a2048;
      }
    }
  }
  .container {
    img {
      width: 100%;
      max-width: 100px !important;
    }
  }
}
