.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-top: 15px;
}

.navigation-menu {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  max-width: 500px;
}

.footer {
  width: 100%;
  p {
    text-align: center;
  }
}
